<mat-progress-bar *ngIf="loader.progress$ | async"
                  mode="determinate"
                  [value]="loader.progress$ | async"
                  data-se="main-progress-bar">
</mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true" disableClose>
    <header>
      <h1 class="flex flex--column">
        <span>DDAP</span>
        <span *ngIf="isSandbox"
              class="sandbox-warning"
              matTooltip="This is sandbox testing environment">
          Sandbox environment
        </span>
      </h1>
    </header>

    <mat-nav-list>
      <div *ngIf="isSandbox"
           class="ddap-realm-select">
        <ddap-realm-input></ddap-realm-input>
      </div>

      <div *ngIf="profile"
         class="ddap-logout">
        <mat-list-item class="credentials-username"
                       data-se="nav-account">
          <h4 mat-line>{{ profile?.name || '&nbsp;' }}</h4>
          <span mat-line
                data-se="nav-logout"
                (click)="logout()">Log Out</span>
          <div class="credentials-picture">
            <img matListAvatar
                 [src]="profile?.picture || '/assets/images/placeholder_identity.png'"
                 alt="Profile picture">
          </div>
        </mat-list-item>
      </div>
      <a [href]="loginPath"
         *ngIf="!profile"
         data-se="nav-login">
        <mat-list-item class="credentials-username"
                       data-se="nav-account">
          <h4 mat-line>Log In</h4>
          <div class="credentials-picture">
            <img matListAvatar
                 [src]="profile?.picture || '/assets/images/placeholder_identity.png'"
                 alt="Profile picture">
          </div>
        </mat-list-item>
      </a>

      <mat-list-item *ngIf="profile"
                     [routerLink]="['identity']"
                     [routerLinkActive]="['active-nav-link']"
                     data-se="nav-identity">
        <mat-icon class="icon icon-identity"></mat-icon>
        <h4 mat-line>My Identity</h4>
      </mat-list-item>
    </mat-nav-list>

    <div *ngIf="profile"
         class="accordion-wrapper">
      <mat-accordion [multi]="false"
                     *ngIf="isIcAdmin">
        <mat-expansion-panel [expanded]="true"
                             data-se="nav-ic-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Identity Concentrator</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item [routerLink]="['admin', 'identity-concentrator', 'identity-providers']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-identity-providers">
              <mat-icon class="icon icon-identities"></mat-icon>
              <h4 mat-line>Identity Providers</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['admin', 'identity-concentrator', 'clients']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-clients">
              <mat-icon class="icon icon-apps"></mat-icon>
              <h4 mat-line>Clients</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['admin', 'identity-concentrator', 'options']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-options">
              <mat-icon class="icon icon-settings"></mat-icon>
              <h4 mat-line>Options</h4>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ddaplib-sandbox-banner *ngIf="isSandbox"></ddaplib-sandbox-banner>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
