@import '~ddap-common-lib/styles/modules/colors';

.item {
  border-bottom: 1px solid $color-faded-grey;
  .item-key,
  .item-value {
    display: flex;
    flex-basis: 100%;
    margin-right: 1rem;
  }
  .item-key {
    flex-grow: 1;
  }
  .item-value {
    flex-grow: 2;
  }
}
