<ddaplib-header iconClass="icon icon-identities"
                label="Users">
</ddaplib-header>

<ddaplib-main>
  <div class="search-input flex vertical-center">
    <mat-form-field>
      <input matInput
             placeholder="Type search query..."
             [formControl]="query"
             data-se="inp-search">
      <mat-icon *ngIf="query.value"
                (click)="resetQueryValue()"
                class="clickable"
                data-se="btn-clear-search"
                matSuffix>
        clear
      </mat-icon>
    </mat-form-field>
    <button color="primary"
            mat-flat-button
            type="submit"
            data-se="btn-search"
            class="flex vertical-center"
            (click)="refreshUsers()">
      <mat-icon class="icon icon-search"></mat-icon>
      <span>Search</span>
    </button>
  </div>

  <div class="filter-active">
    <label id="filter-active-label">Filter by activity:</label>
    <mat-radio-group aria-labelledby="filter-active-label"
                     [formControl]="activeFilter"
                     (change)="refreshUsers()">
      <mat-radio-button [value]="null">
        All
      </mat-radio-button>
      <mat-radio-button [value]="true"
                        data-se="radio-active-users-only">
        Active
      </mat-radio-button>
      <mat-radio-button [value]="false">
        Disabled
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div *ngIf="users$ | async as usersResponse"
       class="table-container mat-elevation-z1">
    <table mat-table [dataSource]="usersResponse['Resources']"
           class="table--base">
      <!-- Name Definition -->
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let model"
            class="table--link"
            data-se="entity-title"
            [routerLink]="[model.id]">
          {{ model.displayName }}
        </td>
      </ng-container>
      <!-- ID Definition -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let model" data-se="user-id">{{ model.id }}</td>
      </ng-container>
      <!-- Status Definition -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let model">
          <span [ngClass]="model.active ? 'user-active' : 'user-inactive'">
            {{ model.active ? 'Active' : 'Inactive' }}
          </span>
        </td>
      </ng-container>
      <!-- Emails Definition -->
      <ng-container matColumnDef="emails">
        <th mat-header-cell *matHeaderCellDef>Emails</th>
        <td mat-cell *matCellDef="let model">
        <span *ngFor="let email of model.emails">
          {{ email.value }}
          <br/>
        </span>
        </td>
      </ng-container>
      <!-- More Actions Column -->
      <ng-container matColumnDef="moreActions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let model"
            class="table--actions">
          <mat-icon [matMenuTriggerFor]="moreActionsMenu"
                    [matMenuTriggerData]="{ user: model }"
                    data-se="btn-more-actions">
            more_vert
          </mat-icon>
        </td>
      </ng-container>

      <mat-menu #moreActionsMenu="matMenu">
        <ng-template matMenuContent
                     let-user="user">
          <button mat-menu-item
                  [routerLink]="[user.id]"
                  data-se="btn-edit">
            Edit
          </button>
          <button mat-menu-item
                  [routerLink]="[user.id, 'auditlogs']"
                  data-se="btn-auditlogs">
            Auditlogs
          </button>
          <button mat-menu-item
                  [routerLink]="[user.id, 'sessions']"
                  data-se="btn-sessions">
            Sessions
          </button>
          <button mat-menu-item
                  [routerLink]="[user.id, 'consents']"
                  data-se="btn-consents">
            Consents
          </button>
          <button mat-menu-item
                  class="color--warn"
                  data-se="btn-close-user-account"
                  (click)="closeAccount(user)">
            Delete
          </button>
        </ng-template>
      </mat-menu>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ddaplib-paginator color="primary"
                       [paginationType]="'unidirectional'"
                       [length]="usersResponse.totalResults"
                       [pageSize]="usersResponse.itemsPerPage"
                       (pageChange)="changePage($event)">
    </ddaplib-paginator>
  </div>
</ddaplib-main>
