<ddaplib-searchable-header iconClass="icon icon-identities"
                           label="Users"
                           [isSearchPage]="false"
                           [searchInputVisible]="false"
                           (searchOpenChange)="resetQueryValue($event)">
  <form class="flex vertical-center">
    <mat-form-field>
      <input matInput
             placeholder="Type search query..."
             [formControl]="query"
             data-se="inp-search">
    </mat-form-field>
    <button color="primary"
            mat-icon-button
            type="submit"
            data-se="btn-search"
            (click)="refreshUsers()">
      <mat-icon class="icon icon-search"></mat-icon>
    </button>
  </form>
</ddaplib-searchable-header>

<ddaplib-main>
  <div class="filter-active">
    <label id="filter-active-label">Filter by activity:</label>
    <mat-radio-group aria-labelledby="filter-active-label"
                     [formControl]="activeFilter"
                     (change)="refreshUsers()">
      <mat-radio-button [value]="null">
        All
      </mat-radio-button>
      <mat-radio-button [value]="true"
                        data-se="radio-active-users-only">
        Active
      </mat-radio-button>
      <mat-radio-button [value]="false">
        Disabled
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <ng-container *ngIf="users$ | async as usersResponse">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let user of usersResponse['Resources']">
        <mat-expansion-panel-header collapsedHeight="5rem"
                                    expandedHeight="5rem">
          <mat-panel-title data-se="user-name">{{ user.displayName }}</mat-panel-title>
          <mat-panel-description [ngClass]="{ 'active' : user.active }">
            {{ user.active ? 'Active' : 'Inactive' }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <ddaplib-entity-viewer [listData]="modifyUserData(user)"></ddaplib-entity-viewer>
        <mat-action-row>
          <button mat-button
                  color="warn"
                  class="uppercase"
                  data-se="btn-close-user-account"
                  (click)="closeAccount(user)">
            Close Account
          </button>
          <button mat-button
                  color="primary"
                  class="uppercase"
                  data-se="btn-edit-user"
                  [routerLink]="[user.id]">
            Edit User
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <ddaplib-paginator color="primary"
                         [paginationType]="'unidirectional'"
                         [length]="usersResponse.totalResults"
                         [pageSize]="usersResponse.itemsPerPage"
                         (pageChange)="changePage($event)">
      </ddaplib-paginator>
    </mat-accordion>
  </ng-container>
</ddaplib-main>
