<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Name"
             formControlName="id"
             data-se="inp-id"
             [readonly]="!!client.name && client.name.length > 0"
             required>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
    </mat-form-field>
    <mat-form-field class="col"
                    formGroupName="ui">
      <input matInput
             placeholder="Display Name"
             formControlName="label"
             data-se="inp-label"
             required>
    </mat-form-field>
  </div>
  <div class="row"
       formGroupName="ui">
    <mat-form-field class="col">
      <textarea matInput
                placeholder="Description"
                formControlName="description"
                data-se="inp-description"
                required>
      </textarea>
      <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
    </mat-form-field>
  </div>
  <div class="row"
       *ngIf="client.dto.clientId">
    <mat-form-field class="col">
      <input matInput
             placeholder="Client ID"
             formControlName="clientId"
             data-se="inp-clientId"
             readonly
             required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Scope"
             formControlName="scope"
             data-se="inp-scope"
             required>
    </mat-form-field>
  </div>

  <h3>
    <span>Redirect URIs</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-redirectUri"
              (click)="addRedirectUri()">
        Add Redirect URI
      </button>
    </div>
  </h3>
  <ddaplib-form-inline-editable-table [form]="form"
                                      [arrayFieldName]="'redirectUris'">
  </ddaplib-form-inline-editable-table>

  <h3>
    <span>Grant Types</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-grantType"
              (click)="addGrantType()">
        Add Grant Type
      </button>
    </div>
  </h3>
  <ddaplib-form-inline-editable-table [form]="form"
                                      [arrayFieldName]="'grantTypes'">
  </ddaplib-form-inline-editable-table>

  <h3>
    <span>Response Types</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-responseType"
              (click)="addResponseType()">
        Add Response type
      </button>
    </div>
  </h3>
  <ddaplib-form-inline-editable-table [form]="form"
                                      [arrayFieldName]="'responseTypes'">
  </ddaplib-form-inline-editable-table>

  <ng-content></ng-content>
</form>
