@import '../../../../node_modules/ddap-common-lib/styles/modules/colors';

mat-sidenav-container {
  height: 100%;
}
.credentials-username {
  // FIXME move this image to menu component
  display: flex;
  align-items: center;

  img {
    display: flex;
    width: 34px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 16px;
  }

  .account-info {
    display: flex;
    flex-direction: column;

    .account-info-label {
      line-height: 1rem;
    }

    .account-info-sublabel {
      line-height: 1rem;
      font-size: 0.75rem;
    }
  }
}
:host {
  .ddap-realm-select {
    background-color: $navbar-expanded-background;
    padding: 0.5rem 1rem;
  }
  .credentials-username {
    cursor: default;

    span {
      cursor: pointer;
    }
  }
}

::ng-deep .ddap-logout {
  span.mat-line {
    color: $navbar-font-subtle-color;
  }
}

.sandbox-warning {
  position: absolute;
  left: 1rem;
  font-size: 0.75rem;
  color: $warn-color;
}

.mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-title {
  color: $navbar-font-main-color;
}
mat-progress-bar {
  position: absolute;
  left: 0;
  right: 0;
}
