<mat-progress-bar *ngIf="loader.progress$ | async"
                  mode="determinate"
                  [value]="loader.progress$ | async"
                  data-se="main-progress-bar">
</mat-progress-bar>

<div class="site-container {{ viewControllerService.view.leftSidebarOpened ? '' : 'zen-mode'}} ">
  <ddaplib-main-header (realmChangeAcknowledge)="onAcknowledge($event)"
                       [realmActions]="[RealmActionType.edit, RealmActionType.delete]"
                       [isSandbox]="isSandbox"
                       [siteName]="'DDAP'">
    <ddaplib-menu-profile [showSignIn]="!(userInfo$ | async)"
                          [loginPath]="loginPath">
      <ng-container *ngIf="userInfo$ | async as userInfo">
        <button class="credentials-username"
                mat-menu-item
                data-se="nav-account">
          <img [src]="getPrimaryPhoto(userInfo.photos)"
               alt="Profile picture">
          <span class="account-info">
            <span class="account-info-label"
                  data-se="nav-profile-name">
              {{ userInfo?.displayName || '&nbsp;' }}
            </span>
            <span class="account-info-sublabel"
                  data-se="nav-logout"
                  (click)="logout()">
              Log Out
            </span>
          </span>
        </button>
      </ng-container>
    </ddaplib-menu-profile>
  </ddaplib-main-header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav
                 mode="side"
                 [opened]="true">
      <app-sidenav-left *ngIf="isLoggedIn"
                        [isAdmin]="isIcAdmin"
                        [sideNavCollapsible]="false"
                        [appTitle]="'Identity Concentrator'">
      </app-sidenav-left>
    </mat-sidenav>

    <mat-sidenav-content>
      <ddaplib-sandbox-banner *ngIf="isSandbox"></ddaplib-sandbox-banner>

      <ng-container *ngIf="userInfo$ | async as userInfo; else anonymousUserLandingPage">
        <ng-container *ngIf="isChildPage(); else authorizedUserLandingPage">
          <router-outlet></router-outlet>
        </ng-container>
      </ng-container>
      <ng-template #authorizedUserLandingPage>
        <ddaplib-landing-info-card [title]="'Identity Concentrator Administration'">
          This portal is for <b>IC (Identity Concentrator) administration</b>.
        </ddaplib-landing-info-card>
      </ng-template>
      <ng-template #anonymousUserLandingPage>
        <ddaplib-landing-info-card [title]="'Identity Concentrator Administration'">
          This portal is for <b>IC (Identity Concentrator) administration</b>.
          To proceed please log in by clicking <b>Log In</b> in navigation menu or click
          <a [href]="loginPath" class="btn-link"><b>here</b></a>.
        </ddaplib-landing-info-card>
      </ng-template>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
