<mat-progress-bar *ngIf="loader.progress$ | async"
                  mode="determinate"
                  [value]="loader.progress$ | async"
                  data-se="main-progress-bar">
</mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true" disableClose>
    <header>
      <h1 class="flex flex--column">
        <span>DDAP</span>
        <span *ngIf="isSandbox"
              class="sandbox-warning"
              matTooltip="This is sandbox testing environment">
          Sandbox environment
        </span>
      </h1>
    </header>

    <mat-nav-list>
      <div *ngIf="isSandbox"
           class="ddap-realm-select">
        <ddap-realm-input></ddap-realm-input>
      </div>

      <div *ngIf="userInfo$ | async as userInfo; else unauthenticated"
         class="ddap-logout">
        <mat-list-item class="credentials-username"
                       data-se="nav-account">
          <h4 mat-line>{{ userInfo?.displayName || '&nbsp;' }}</h4>
          <span mat-line
                data-se="nav-logout"
                (click)="logout()">Log Out</span>
          <div class="credentials-picture">
            <img matListAvatar
                 [src]="getPrimaryPhoto(userInfo.photos)"
                 alt="Profile picture">
          </div>
        </mat-list-item>
      </div>
      <ng-template #unauthenticated>
        <a [href]="loginPath"
           data-se="nav-login">
          <mat-list-item class="credentials-username"
                         data-se="nav-account">
            <h4 mat-line>Log In</h4>
            <div class="credentials-picture">
              <img matListAvatar
                   [src]="'/assets/images/placeholder_identity.png'"
                   alt="Profile picture">
            </div>
          </mat-list-item>
        </a>
      </ng-template>

      <ng-container *ngIf="userInfo$ | async as userInfo">
        <mat-list-item [routerLink]="['account', 'identity']"
                       [routerLinkActive]="['active-nav-link']"
                       data-se="nav-identity">
          <mat-icon class="icon icon-identity"></mat-icon>
          <h4 mat-line>My Identity</h4>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>

    <div *ngIf="userInfo$ | async as userInfo"
         class="accordion-wrapper">
      <mat-accordion [multi]="false"
                     *ngIf="isIcAdmin">
        <mat-expansion-panel [expanded]="isUsersRouteActive()"
                             [disabled]="false"
                             [hideToggle]="false"
                             data-se="nav-user-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>User Administration</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item [routerLink]="['admin', 'users']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-users">
              <mat-icon class="icon icon-identities"></mat-icon>
              <h4 mat-line>Users</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['admin', 'sessions']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-identity">
              <mat-icon class="icon icon-clients"></mat-icon>
              <h4 mat-line>Sessions</h4>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="userInfo$ | async as userInfo"
         class="accordion-wrapper">
      <mat-accordion [multi]="false"
                     *ngIf="isIcAdmin">
        <mat-expansion-panel [expanded]="true"
                             [disabled]="true"
                             [hideToggle]="true"
                             data-se="nav-ic-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Identity Concentrator Administration</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item [routerLink]="['admin', 'identity-concentrator', 'identity-providers']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-identity-providers">
              <mat-icon class="icon icon-identities"></mat-icon>
              <h4 mat-line>Identity Providers</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['admin', 'identity-concentrator', 'clients']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-clients">
              <mat-icon class="icon icon-apps"></mat-icon>
              <h4 mat-line>Clients</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['admin', 'identity-concentrator', 'options']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-options">
              <mat-icon class="icon icon-settings"></mat-icon>
              <h4 mat-line>Options</h4>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ddaplib-sandbox-banner *ngIf="isSandbox"></ddaplib-sandbox-banner>

    <ng-container *ngIf="userInfo$ | async as userInfo; else anonymousUserLandingPage">
      <ng-container *ngIf="isChildPage(); else authorizedUserLandingPage">
        <router-outlet></router-outlet>
      </ng-container>
    </ng-container>
    <ng-template #authorizedUserLandingPage>
      <ddaplib-landing-info-card [title]="'Identity Concentrator Administration'">
        This portal is for <b>IC (Identity Concentrator) administration</b>.
      </ddaplib-landing-info-card>
    </ng-template>
    <ng-template #anonymousUserLandingPage>
      <ddaplib-landing-info-card [title]="'Identity Concentrator Administration'">
        This portal is for <b>IC (Identity Concentrator) administration</b>.
        To proceed please log in by clicking <b>Log In</b> in navigation menu or click
        <a [href]="loginPath" class="btn-link"><b>here</b></a>.
      </ddaplib-landing-info-card>
    </ng-template>

  </mat-sidenav-content>
</mat-sidenav-container>
