<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col"
                    formGroupName="ui">
      <input matInput
             placeholder="Display Name"
             formControlName="label"
             data-se="inp-label"
             required>
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput
             placeholder="Internal Name"
             formControlName="id"
             data-se="inp-id"
             [readonly]="!!identityProvider.name && identityProvider.name.length > 0"
             required>
      <mat-icon matSuffix
                class="input-help"
                matTooltip="The internal name is the unique identifier for this entity in the system. Once created, it cannot be changed.">
        help_outline
      </mat-icon>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col"
                    formGroupName="ui">
      <textarea matInput
                placeholder="Description"
                formControlName="description"
                data-se="inp-description"
                required>
      </textarea>
      <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Issuer"
             formControlName="issuer"
             data-se="inp-issuer"
             required>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Token URL"
             formControlName="tokenUrl"
             data-se="inp-tokenUrl"
             required>
      <mat-error *ngIf="form.get('tokenUrl').hasError('url')">Must start with http:// or https://</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Authorize URL"
             formControlName="authorizeUrl"
             data-se="inp-authorizeUrl"
             required>
      <mat-error *ngIf="form.get('authorizeUrl').hasError('url')">Must start with http:// or https://</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Response Type"
             formControlName="responseType"
             data-se="inp-responseType">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Client Identifier"
             formControlName="clientId"
             data-se="inp-clientId">
      <mat-error *ngIf="form.get('clientId').getError('empty')">Client identifier cannot be removed once set. It can be only replaced.</mat-error>
      <mat-error *ngIf="form.get('clientId').invalid">{{ form.get('clientId').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field [floatLabel]="clientCredentialsSet && form.get('clientId').value ? 'always' : 'auto'"
                    class="col">
      <mat-label>Client Secret</mat-label>
      <input [placeholder]="clientCredentialsSet && form.get('clientId').value ? '<redacted> Client secret cannot be display once set. Editing this field will rewrite existing client secret.' : ''"
             matInput
             formControlName="clientSecret"
             data-se="inp-clientSecret">
      <mat-icon matSuffix
                class="input-help"
                matTooltip="A client secret is a secret value used by this deployment to interact with an external service. If you do not modify this input, the current client secret will not be changed.">
        help_outline
      </mat-icon>
      <mat-error *ngIf="form.get('clientSecret').getError('empty')">Client secret must be provided with client identifier</mat-error>
      <mat-error *ngIf="form.get('clientSecret').invalid">{{ form.get('clientSecret').errors?.serverError }}</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col">
      <mat-select placeholder="Translate Using"
                  formControlName="translateUsing"
                  data-se="inp-translateUsing">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let translator of translators$ | async" [value]="translator.id">
          {{ translator.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <h3>Scopes</h3>
  <ddaplib-form-inline-editable-table [form]="form"
                                      [arrayFieldName]="'scopes'"
                                      [fieldTitle]="'Scope'">
  </ddaplib-form-inline-editable-table>

  <ng-content></ng-content>
</form>
