<ddaplib-header icon="clients" label="Sessions">
</ddaplib-header>

<ddaplib-main>
  <ng-container *ngIf="(tokens$ | async) as tokensResponse">
    <mat-accordion>
      <h2>Active Tokens</h2>
      <mat-expansion-panel *ngFor="let token of tokensResponse.tokens">
        <mat-expansion-panel-header collapsedHeight="5rem"
                                    expandedHeight="5rem">
          <mat-panel-title>{{ token.name }}</mat-panel-title>
          <mat-panel-description>{{ token.metadata.client_desc }}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div class="flex">
          <div class="fg-1">
            <ddaplib-entity-viewer [listData]="getClientData(token)" [description]="'Client Details'"></ddaplib-entity-viewer>
          </div>
          <div class="fg-2">
            <ddaplib-entity-viewer [listData]="getTokenData(token)" [description]="'Token Details'"></ddaplib-entity-viewer>
          </div>
        </div>
        <mat-action-row>
          <button mat-button
                  color="warn"
                  class="uppercase"
                  data-se="btn-revoke-token"
                  (click)="revokeToken(token)">
            Revoke Token
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</ddaplib-main>
