<ddaplib-header iconClass="icon icon-apps"
                label="Client Applications">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add client application'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    Clients are OIDC relying parties that can view Identity Tokens of users. Only make a service a client of
    the Identity Concentrator if you trust them with information about user identities (such as their email
    addresses and RI claims).
  </ddaplib-entity-description>
  <ddaplib-entity-description>
    You can learn more about Clients
    <a href="https://github.com/GoogleCloudPlatform/healthcare-federated-access-services/blob/master/docs/ic/admin/config/clients.md#client-application-configuration"
       target="_blank"
       rel="noopener noreferrer">
      here
    </a>.
  </ddaplib-entity-description>

  <div class="table-container mat-elevation-z1">
    <table mat-table [dataSource]="entities$ | async"
           class="table--base">
      <!-- Label Definition -->
      <ng-container matColumnDef="label" sticky>
        <th mat-header-cell *matHeaderCellDef>Label</th>
        <td mat-cell *matCellDef="let model"
            class="table--link"
            data-se="entity-title"
            [routerLink]="[model.name]">
          {{ model.dto.ui.label }}
        </td>
      </ng-container>
      <!-- Description Definition -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let model">{{ model.dto.ui.description }}</td>
      </ng-container>
      <!-- Client ID Definition -->
      <ng-container matColumnDef="clientId">
        <th mat-header-cell *matHeaderCellDef>Client ID</th>
        <td mat-cell *matCellDef="let model">{{ model.dto.clientId }}</td>
      </ng-container>
      <!-- Scope Definition -->
      <ng-container matColumnDef="scopes">
        <th mat-header-cell *matHeaderCellDef>Scopes</th>
        <td mat-cell *matCellDef="let model">
          <span *ngFor="let scope of model.dto.scope.split(' ')">
            {{ scope }}
            <br/>
          </span>
        </td>
      </ng-container>
      <!-- Redirect URI Definition -->
      <ng-container matColumnDef="redirectUris">
        <th mat-header-cell *matHeaderCellDef>Redirect URIs</th>
        <td mat-cell *matCellDef="let model">
          <span *ngFor="let redirectUri of model.dto.redirectUris">
            {{ redirectUri }}
            <br/>
          </span>
        </td>
      </ng-container>
      <!-- Grant Type Definition -->
      <ng-container matColumnDef="grantTypes">
        <th mat-header-cell *matHeaderCellDef>Grant Types</th>
        <td mat-cell *matCellDef="let model">
          <span *ngFor="let grantType of model.dto.grantTypes">
            {{ grantType }}
            <br/>
          </span>
        </td>
      </ng-container>
      <!-- Response Type Definition -->
      <ng-container matColumnDef="responseTypes">
        <th mat-header-cell *matHeaderCellDef>Response Types</th>
        <td mat-cell *matCellDef="let model">
          <span *ngFor="let responseType of model.dto.responseTypes">
            {{ responseType }}
            <br/>
          </span>
        </td>
      </ng-container>
      <!-- More Actions Column -->
      <ng-container matColumnDef="moreActions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let model"
            class="table--actions">
          <mat-icon [matMenuTriggerFor]="moreActionsMenu"
                    [matMenuTriggerData]="{ id: model.name, label: model.dto.ui?.label }"
                    data-se="btn-more-actions">
            more_vert
          </mat-icon>
        </td>
      </ng-container>

      <mat-menu #moreActionsMenu="matMenu">
        <ng-template matMenuContent
                     let-id="id"
                     let-label="label">
          <button [routerLink]="[id]"
                  mat-menu-item
                  data-se="btn-edit">
            Edit
          </button>
          <button (click)="openDeleteConfirmationDialog(id, label)"
                  mat-menu-item
                  class="color--warn"
                  data-se="btn-delete">
            Delete
          </button>
        </ng-template>
      </mat-menu>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</ddaplib-main>
