<ddaplib-header iconClass="icon icon-rules" label="Auditlogs"></ddaplib-header>
<ddaplib-main>
  <div>
    <mat-form-field>
      <mat-chip-list #searchList>
        <mat-chip *ngFor="let search of searchTextList" [removable]="true" (removed)="removeSearchText(search)">
          {{search}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Search by text"
               [matChipInputFor]="searchList"
               [matChipInputSeparatorKeyCodes]="separatorCodes"
               (matChipInputTokenEnd)="searchByText($event)" />
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div class="filters">
    <mat-form-field>
      <mat-label>Log type</mat-label>
      <mat-select [(value)]="logType" (selectionChange)="getLogs()" data-se="log-type">
        <mat-option value="">ALL</mat-option>
        <mat-option value="REQUEST">REQUEST</mat-option>
        <mat-option value="POLICY">POLICY</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Logs per page</mat-label>
      <mat-select [(value)]="pageSize" (selectionChange)="getLogs()" data-se="page-size">
        <mat-option *ngFor="let page of ['10', '20', '30', '40', '50']" [value]="page">
          {{page}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="auditLogs$ | async"
         data-se="auditlog-result"
         class="table--base mat-elevation-z1">
    <ng-container matColumnDef="auditlogId">
      <th mat-header-cell *matHeaderCellDef>Auditlog</th>
      <td mat-cell *matCellDef="let log"
          (click)="gotoAuditlogDetail(log)"
          class="table--link">
        {{log['auditlogId']}}
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Log Type </th>
      <td mat-cell *matCellDef="let log" class="table--link"> {{log['type']}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row
        *matRowDef="let log; columns: columnsToDisplay">
    </tr>
  </table>
</ddaplib-main>
