@import '~ddap-common-lib/styles/modules/colors';
.filters {
  display: flex;
  align-items: baseline;
  font-size: 0.9rem;

  p{
    padding-right: 0.5rem;
    color: $color-dark-grey;
  }

  mat-form-field {
    width: 10%;
    margin-right: 2rem;
  }
}
